[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt-toolkit = "==3.0.43"
boto3 = "==1.34.68"
click = "*"
botocore = "==1.34.68"
jmespath = "==1.0.1"
python-dateutil = "==2.9.0.post0"
s3transfer = "==0.10.1"
six = "==1.16.0"
wcwidth = "==0.2.13"

[dev-packages]

[requires]
python_version = ">=3.10, <4.0"
